bin
node_modules
packages
nuget
nupkg
obj
Properties
temp
*.cs
*.csproj
*.csproj.user
*.json
*.bindings
*.nuspec
*.sln
*.suo
*.js.map
*.config
*.nupkg
*.nupkg.zip
**\*.nupkg.zip
**\*.nupkg
**\nuget
**\nupkg
__*