bin
node_modules
packages
nuget
nupkg
obj
Properties
temp
.idea
*.cs
*.csproj
*.csproj.user
*.bindings
*.nuspec
*.sln
*.suo
*.vscode
*.config
*.nupkg
*.nupkg.zip
*.iml
**\*.nupkg.zip
**\*.nupkg
**\nuget
**\nupkg
__*

